<html>
  <head>
    <title>My Angular App!</title>
    <!-- for some reason could not use the node_modules/angular/angular.us call. could be c9 related-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/javascripts/angularApp.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="flapperNews">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a href="/#/user">{{ currentUser }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>

<body ng-app="flapperNews" ng-controller="MainCtrl">
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>
  
  <script type="text/ng-template" id="/home.html">
  
    <div class="page-header">
      <h1>Your Comm[unity]</h1>
    </div>

      <div ng-repeat="post in posts | orderBy:'-upvotes'" ng-hide="true">
        <span ng-show="post.author">
          posted by <a>{{post.author}}</a> |
        </span>
        <span ng-click="incrementUpvotes(post)">
          {{post.upvotes}}
        </span>
        <span style="font-size:20px; margin-left:10px;">
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
          <span>
          <!-- had to add the '#', which tutorial did not have. could be c9? -->
            <a href="#/posts/{{post._id}}"> Comments</a>
          </span>
        </span>
      </div>

      <div ng-repeat="recipient in recipients">
        <span style="font-size:20px; margin-left:10px;">
          <span>
          Name: 
            {{recipient.given_name}}
          </span>
          <span>
          City:
            {{recipient.city}}
          </span>
          <span>
          Zip:
            {{recipient.zipcode}}
          </span>
          <img src={{recipient.img}}>
          <span>
          <!-- had to add the '#', which tutorial did not have. could be c9? -->
            <!--<a href="#/posts/{{post._id}}"> Link to recipient</a> -->
          </span>
        </span>
      </div>

      <form ng-submit="addRecipient()" ng-show="isLoggedIn()" style="margin-top:30px;">
        <h3>Add a new recipient</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Name"
            ng-model="name"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="City"
          ng-model="city"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Zip Code"
          ng-model="zip"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Image Link"
          ng-model="image"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
      </div>
  </script>
  <script type="text/ng-template" id="/register.html">
    <div class="page-header">
      <h1>Flapper News</h1>
    </div>
  
    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>
  
    <form ng-submit="register()"
      style="margin-top:30px;">
      <h3>Register</h3>
  
      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>
  <script type="text/ng-template" id="/login.html">
    <div class="page-header">
      <h1>Flapper News</h1>
    </div>
  
    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>
  
    <form ng-submit="logIn()"
      style="margin-top:30px;">
      <h3>Log In</h3>
  
      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </script>
  
  
  
  <script type="text/ng-template" id="/user.html">
    <div class="page-header">
      <h1>Edit User: {{userName}}</h1>
    </div>
  
    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>
  
    <form ng-submit="modifyUser()"
      style="margin-top:30px;">
      <div class="form-group">
      Change username from {{userName}}:
        <input type="text"
        class="form-control"
        ng-model="user.username"></input>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </script>
  
  
  
  <script type="text/ng-template" id="/posts.html">
    <div class="page-header">
      <h3>
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span ng-click="incrementUpvotes(comment)">
      {{comment.upvotes}} - by {{comment.author}}
      </span>
      <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
    </div>
    <form ng-submit="addComment()" ng-show="isLoggedIn()"
    style="margin-top:30px;">
      <h3>Add a new comment</h3>
  
      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Comment"
        ng-model="body"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <div ng-hide="isLoggedIn()">
      <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
    </div>
  </script>
</body>
</html>